<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous">

<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="header">
                        <h3 class="title txt-content1">{{content1.name}}
                            <button *ngIf="statuslogin==true" (click)="fUpdateContent(1,'name')" class="btn btn-info pull-right">
                                <i class="far fa-edit"></i>
                            </button>
                        </h3>
                        <br>
                        <p class="category">&emsp;{{content1.description}}</p>
                    </div>
                    <div class="content">
                        <div class="footer">
                            <div class="stats">
                                <button *ngIf="statuslogin==true" (click)="fUpdateContent(1,'description')" class="btn btn-danger pull-right">
                                    <i class="far fa-edit"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">

                <div class="card">
                    <div class="header">
                        <h3 class="title txt-content2">{{content2.name}}
                            <button *ngIf="statuslogin==true" (click)="fUpdateContent(2,'name')" class="btn btn-info pull-right">
                                <i class="far fa-edit"></i>
                            </button>
                        </h3>
                        <br>
                        <p class="category">&emsp;{{content2.description}}</p>
                    </div>
                    <div class="content">
                        <div class="footer">
                            <div class="stats">
                                <button *ngIf="statuslogin==true" (click)="fUpdateContent(2,'description')" class="btn btn-danger pull-right">
                                    <i class="far fa-edit"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
