

<div class="main-content">
    <div class="container-fluid">
            <br>
            <br>
            <br>
        <H1>Content</H1>
        <div class="main-content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-info btn-fill pull-right">Update Content</button>
                            <div class="card">
                                <div class="header">
                                    <h3 class="title">{{content1.name}}</h3>
                                    <br><p class="category">&emsp;{{content1.description}}</p>
                                </div>
                                <div class="content">
                                    <div [attr.id]="chartId" class="ct-chart {{ chartClass }}"></div>
            
                                    <div class="footer">
                                        <hr *ngIf="withHr">
                                        <div class="stats">
            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-info btn-fill pull-right">Update Content</button>
                            <div class="card">
                                    <div class="header">
                                        <h3 class="title">{{content2.name}}</h3>
                                       <br><p class="category">&emsp;{{content2.description}}</p>
                                    </div>
                                    <div class="content">
                                        <div [attr.id]="chartId" class="ct-chart {{ chartClass }}"></div>
                
                                        <div class="footer">
                                            <hr *ngIf="withHr">
                                            <div class="stats">
                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
            
    </div>
</div>